.wrapper {
    width: 100%;
    margin: 40px auto;
    padding: 20px;
    border-top: 1px solid var(--bs-secondary);
}

.inner {
    width: 100%;

    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
}

.w100 {
    width: 5%;
}

.w100 {
    width: 10%;
}

.w200 {
    width: 20%;
}

.w300 {
    width: 30%;
}

table {
    width: 100%;
    margin: 20px auto;
    table-layout: auto;
}

.fixed {
    table-layout: fixed;
}

table,
td,
th {
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: solid 1px;
    text-align: center;
}

.mr16 {
    margin-right: 16px;
}

.btn {
    min-width: 120px;
    min-height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.btn-remove {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.btn-book {
    background-color: var(--bs-darkblue);
    color: var(--bs-white);
}
