.wrapper {
    width: 20%;
    height: calc(100vh - 60px);
    display: block;
    padding: 10px 20px 10px 0;
    border-left: 1px solid transparent;
    border-right: 1px solid var(--bs-secondary);
    background: #191c24;
}

.inner {
    width: 100%;
}

.nav-follow {
    padding: 10px 20px;
    color: #6c7293;
    border-bottom: 2px solid var(--bs-gray);
}

.nav-item {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #6c7293;
    transition-property: color;
    -webkit-transition-property: color;
    transition-duration: 0.45s;

    &:hover {
        background-color: #0f1015;
        color: var(--bs-white);
        border-left: 2px solid var(--bs-darkblue);
    }
}

.nav-icon {
    width: 20px;
}

.nav-icon {
    margin-right: 16px;
}
