.wrapper {
    width: 340px;
    padding-right: 12px;
}

.sidebar {
    display: block;
    background-color: var(--bs-light);
    width: 100%;
}

.sidebar__header {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 16px;
    font-size: 22px;
    font-weight: 700;
}

.sidebar__info {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--bs-darkblue);
    color: var(--bs-white);
}

.sidebar__body {
    padding: 24px 16px;
}

.sidebar__body__item {
    //display: flex;
    align-items: center;
    margin-bottom: 16px;

    h5 {
        margin-bottom: 16px;
    }
}

.select-box {
    display: block;
    width: 100%;
    height: 36px;
    color: var(--bs--secondary);
    background-color: var(--bs-white);
    appearance: none;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding: 6px 12px;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.select-box:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.25);
}

.w100 {
    width: 100%;
}

.mr16 {
    margin-right: 16px;
}

.dflex {
    display: flex;
    flex-wrap: wrap;

    .btn-option {
        min-width: 140px;
        height: 38px;
        background-color: var(--bs-white);
        padding: 6px 12px;
        margin-bottom: 16px;
        border-radius: 6px;
        border-bottom: 1px solid #80bdff;
        color: var(--bs--secondary);
        font-size: 16px;
    }
}

.datepicker-wrap {
    display: flex;
    position: relative;
    width: 100%;
    height: 36px;
    //padding-left: 16px;

    .input-pick {
        width: 100%;
        background-color: var(--bs-white);
        padding-left: 56px;
        color: var(--bs--secondary);
        font-size: 18px;
        border: 1px solid #d8d8d8;
        border-radius: 4px;
    }
}

.fa-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: var(--bs--secondary);
    font-size: 24px;
}

.flex-bw {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
        max-width: 140px;
        height: 36px;
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        padding: 6px 12px;
        color: var(--bs--secondary);
    }
}

.btn-bound {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;

    .btn-search {
        width: 60%;
        height: 36px;
        background-color: blue;
        color: var(--bs-white);
        font-size: 18px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }
}

.btnActive {
    background-color: var(--bs-darkblue) !important;
    color: var(--bs-white) !important;
}
