.wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--bs-gray);
    background: #191c24;
}

.head-title {
    min-width: 20%;
    display: flex;
    align-items: center;
    color: var(--bs-white);
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.frame-logout {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-logout {
    width: 100%;
    height: 40px;
    background-color: #38425e;
    border: 2px solid #38425e;
    border-radius: 8px;
    color: var(--bs-white);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.logout-title {
    margin-left: 10px;
}
