.wrapper {
    width: 100%;
    min-height: 200px;
    font-size: 13px;
    background: #f9f9f9;
    padding-top: 45px;
}

.inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: block;
}

.footer-line {
    display: flex;
    width: 100%;
}

.wide25 {
    width: 25%;
}

.wide50 {
    width: 50%;
}

.footer-item {
    padding: 0 12px;
    margin-bottom: 12px;
}

.copy-right {
    width: 100%;
    min-height: 104px;
    background-image: url(../../../assets/images/bg-footer.png);
    padding: 16px 12px;
    font-weight: 300;
}

.footer-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.footer-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .item-w50 {
        width: 50%;
    }

    .item-w100 {
        width: 100%;
    }
}

.dblock {
    display: block;
}

.link-logo {
    margin-right: 10px;
}

.img-logo {
    width: 36px;
    height: 36px;
}

.mb16 {
    margin-bottom: 16px;
}
