//@import '../../assets/css/w3.scss';
@import '~react-image-gallery/styles/scss/image-gallery.scss';

.wrapper {
    width: 100%;
    background-color: #f9f9f9;
}

.inner {
    display: block;
}

.fa-icon {
    font-size: 16px;
    margin-right: 8px;
}

.section-head {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 12px 28px 12px;

    .head-code {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        color: var(--bs-darkblue);
        margin-bottom: 8px;
    }

    .head-title {
        width: 50%;
        min-height: 150px;
    }

    .head-function {
        width: 50%;
        min-height: 150px;
        display: block;

        .book-reg {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 16px;

            .book-price {
                color: var(--bs-primary);
                font-size: 20px;
                font-weight: 700;
                margin-right: 24px;
            }

            .book-btn {
                min-width: 192px;
                height: 50px;
                border-radius: 8px;
                background-color: var(--bs-primary);
                color: var(--bs-white);
                font-size: 16px;
                font-weight: 700;
            }
        }

        .advise-reg {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .advise-btn {
                min-width: 192px;
                height: 50px;
                border-radius: 8px;
                border: 1px solid var(--bs-darkblue);
                background-color: transparent;
                color: var(--bs-secondary);
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}

.section-pic {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;

    .frame-left {
        width: 55%;
        padding-left: 12px;

        .image-one {
            width: 100%;
            min-height: 535px;
            max-height: 535px;
            object-fit: fill;
            border-radius: 10px;
        }
    }

    .frame-right {
        width: 45%;
        padding: 0 12px;
        display: block;

        .frame-right-top {
            display: flex;
            justify-content: space-between;

            .image-two {
                width: 96%;
                min-height: 200px;
                max-height: 200px;
                object-fit: fill;
                border-radius: 10px;
            }
        }

        .frame-right-bottom {
            padding-top: 12px;

            .image-three {
                width: 98%;
                min-height: 325px;
                max-height: 325px;
                object-fit: fill;
                border-radius: 10px;
            }
        }
    }
}

.section-info {
    display: flex;
    width: 100%;
    margin-bottom: 40px;

    .info-left {
        width: 40%;
        padding: 0 12px;

        .info-left-top {
            margin-top: 30px;
            margin-bottom: 16px;
            padding: 15px 30px;
            width: 100%;
            min-height: 170px;
            line-height: 28px;
            background-color: var(--bs-white);
            border-radius: 10px;
            font-size: 14px;
            font-weight: 500;

            .dflex {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .btn-other {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                    color: var(--bs-secondary);
                    border: 1px solid var(--bs-darkblue);
                    border-radius: 4px;
                    min-height: 24px;
                    min-width: 102px;
                }
            }
        }

        .info-left-bottom {
            width: 100%;

            .info-left-bottom-content {
                display: flex;
                justify-content: flex-start;
                min-width: 350px;
                min-height: 52px;
                border: 1px solid var(--bs-darkblue);
                border-radius: 10px;
                background-color: var(--bs-white);

                .phone-ct,
                .mail-ct {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 24px;
                    font-size: 16px;
                }

                .phone-ct {
                    background-color: var(--bs-darkblue);
                    color: var(--bs-white);
                    border-radius: 10px;
                    border: 1px solid transparent;
                }
            }
        }
    }

    .info-right {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--bs-secondary);

        .info-item {
            width: 25%;
            max-height: 174px;
            display: block;
            padding: 0 12px;

            .item-icon {
                font-size: 24px;
                color: var(--bs-darkblue);
            }

            .item-title {
                font-size: 15px;
                font-weight: 700;
            }

            .item-content {
                font-size: 13px;
                font-weight: 400;
            }
        }
    }
}

.section-dest {
    text-align: center;
    margin-top: 60px;
    padding-top: 40px;
    background-color: var(--bs-white);

    .dest-list {
        display: flex;
        //float: left;
        align-items: center;
        max-width: 4000px;
        padding-top: 40px;

        .dest-item {
            padding-left: 12px;

            .img-dest {
                width: 240px;
                height: 160px;
                border-radius: 10px;
            }
        }
    }
}

.section-schedule {
    text-align: center;
    padding-top: 60px;
    background-color: var(--bs-white);

    .schedule-content {
        margin-top: 60px;
        border: 1px solid #e7e7e7;
        display: flex;

        .mst-schdule {
            width: 33.333%;
            background-color: #f9f9f9;
            min-height: 500px;
            padding: 36px 12px;
            display: flex;
            flex-direction: column;
        }

        .dtl-schdule {
            width: 66.667%;
            background-color: var(--bs-white);
            min-height: 500px;
            padding: 38px 42px 38px 28px;
        }
    }
}

.mst-item {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;

    .date-left {
        width: 40px;
        text-align: left;
    }
    .date-center {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: #fd5056;
        border: 1px solid #fd5056;
        color: #fff;
    }
    .date-right {
        width: calc(100% - 64px);
        padding-left: 10px;
        display: flex;
        flex-direction: column;

        .date {
            font-weight: 500;
            font-size: 11px;
            text-align: left;
        }

        .location {
            font-size: 15px;
            font-weight: 600;
            text-align: left;
        }
    }
}

.dtl-item {
    h3 {
        font-size: 22px;
        font-weight: 600;
        text-align: start;
    }
    .excerpt {
        padding-left: 33px;
        max-width: 100%;
        position: relative;
        margin-top: 8px;
        margin-bottom: 15px;
        line-height: 24px;
        font-size: 14px;

        .line {
            height: calc(100% - 16px);
            border-left: 0.5px dashed #4d4aef;
            position: absolute;
            top: 6px;
            left: 0;
            z-index: 1;
        }

        .line::before {
            content: '';
            width: 5px;
            height: 5px;
            background: #4d4aef;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: -3px;
            z-index: 1;
        }

        .line::after {
            content: '';
            width: 5px;
            height: 5px;
            background: #4d4aef;
            border-radius: 50%;
            position: absolute;
            top: 100%;
            left: -3px;
            z-index: 1;
        }
    }
}

.section-include {
    width: 100%;
    background-color: var(--bs-white);
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;

    .include-time,
    .include-guide {
        width: 50%;
        border-radius: 10px;

        h2 {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            padding: 40px 0;
        }

        .block {
            display: flex;
            margin: 0 12px;
            padding: 12px;
            background-color: #f9f9f9;
        }

        .guide-item {
            margin: 0 12px;
            padding: 12px;
            background-color: #f9f9f9;
        }
    }
}

.section-notice {
    width: 1360px;
    background-color: var(--bs-white);
    padding: 40px 12px;
    text-align: center;

    .notice-content {
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
