.wrapper {
    width: 100%;
    min-height: 550px;
    padding: 20px 12px;
    position: relative;
}

.inner {
    width: 100%;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
